### Managed by Puppet ###
# Fake server declaration to enforce running agent without
# separate server declaration in /etc/zabbix/zabbix_agent.d/server.conf
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
Hostname={{ ansible_hostname }}.openstack-den.altoros.com
ListenPort=10050
StartAgents=10
#RefreshActiveChecks=120
#DisableActive=1
#EnableRemoteCommands=1
DebugLevel=3
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=1024
Timeout=30
Include=/etc/zabbix/zabbix_agentd.d
