[rabbitmq]
log_level=CRITICAL
user={{ rabbit.stdout_lines[0] }}
password={{ rabbit.stdout_lines[1] }}
host=http://{{ rabbit_ip }}:15672
#OpenStack queues, Y - number of service types, N - count of *this* service, max_queues=Y*(2*N+1)
max_queues=128
